<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<div class="wrHeader">
  <div class="wrHeaderLeft">
    <div class="wrImg">
      <img src="/img/logo.png" alt="logo">
    </div>
    <div class="wrText">
      <p><span>FREE</span>  See our PRO version for more design components & coded in React follow this link:  <a href="https://devias.io/products/devias-kit-pro" target="_blank">https://devias.io/products/devias-kit-pro</a></p>
    </div>
  </div>
  <div class="wrHeaderRight">
    <img class="headerImg1" src="/img/header1.png" alt="logo">
    <img class="headerImg2" src="/img/header2.png" alt="logo">
  </div>
</div>

<aside class="">
  <div class="wrAsideProfile">
    <div class="wrAsideProfileImg">
    <img src="/img/ava.jpg" alt="Profile photo">
    </div>
    <p class="asideProfileName" >Arsen Sirkovych</p>
    <p class="asideProfilePosition">Brain Director</p>
    <span class="asideLine"></span>
  </div>

  <hr >
  <div class="wrAsideNav">
    <p class="asideProfileName">Menu</p>

    <ul>
      <li><img src="/img/Dashboard.jpeg" class="asideNavImg" alt=""><a href="#">Dashboard</a></li>
      <li><img src="/img/Users.jpeg" alt=""><a href="#">Users</a></li>
      <li><img src="/img/Products.jpeg"><a href="#">Products</a></li>
      <li><img src="/img/Authentification.jpeg"><a href="#">Authentification</a></li>
      <li><img src="/img/Typography.jpeg"><a href="#">Typography</a></li>
      <li><img src="/img/Icons.jpeg"><a href="#">Icon & Images</a></li>

    </ul>
  </div>
  <hr>
  <div class="wrAsideSupport">
    <p class="">Support</p>
    <ul>
      <li><img src="/img/Support.jpeg" class="asideNavImg" alt=""><a href="#">Support</a></li>

    </ul>
  </div>

</aside>
