.wrHeader{
  //padding:10;
  height: 64px;
  background: #3F51B5;//blue
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .wrHeaderLeft{
      display: flex;
      flex-direction: row;
      justify-content: space-between;


    .wrImg{
      margin:   auto;
      margin-left: 24px;
      margin-right: 10px;

    }
    img{
      margin: auto;
      width: 133px;
      height: 36px;
    //  left: 24px;
    //  top: calc(50% - 36px/2);
    }
    .wrText{
      p{
      //  background: #CDD1EA;//lifht blue
      //  background-color: rgba(205, 209, 234, 0.2);//lifht blue
        color:#CDD1EA;
        padding: 8px 8px;
        background-color: rgba(0, 0, 0, 0.23);//lifht blue
        border-radius: 4px;
        //opacity: 50%;
        span{
          border-radius: 4px;
          color: white;
          background: #26A69A; //green
          padding: 2px 4px;
          margin-right: 10px;
        }
        a{
          text-decoration: none;
          color:white;
          //font-weight: 900;

        }
      }
    }
  }
  .wrHeaderRight{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;
    margin: auto;
    margin-right: 0px;
    img{
      margin:10px;
    }

    .headerImg1{
      width: calc(16.01px);
      height: calc(19.51px);
    }
    .headerImg2{
      width: calc(18.96px);
      height: calc(18.96px);
    }

  }



}
aside{
  padding: 16px;
  background: #FFFFFF;//white
  width:270px;
  height:625px;
  float:left;
  border:solid 1px #E4E7EB;
  border-top: none;

  .wrAsideProfileImg{
    margin:85px;
    margin-top: 24px;
    margin-bottom: 20px;

  }
  img{
    width: 100px;
    height: 100px;
    margin:auto;

    object-position: center center;
    border-radius: 50%;


  }
  .asideProfileName{
    font-family: Roboto;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.05px;
    color: #3A3B3F;//black
    margin:4px 0px;
  }
.asideProfilePosition{
  height: 16px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #9EA0A5;//grey
  margin:4px 0px;
  }
  hr{
    width:238px;
    height:1px;
    background: #E4E7EB;//gray
    border: 0.5px solid #E4E7EB;
  }


    ul{

      li{
        display:flex;
        flex-direction: row;
        justify-content: left;
        margin:13px 5px;
        padding:2px;
        img{
          width: 18.96px;
          height: 18.96px;
          margin: 0px 5px;
        }


        a{
          text-decoration: none;
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: -0.05px;
          color: #66788A;
          margin: 0px 10px;


        }
      }

    }
    .wrAsideSupport{
      p{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
        color: rgba(0, 0, 0, 0.328974);
        margin-left: 20px;
      }

    }


}
