.tableRow{
  background: #FFFFFF;
  //mix-blend-mode: normal;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  border-top:0.5px #E4E7EB solid;//gray
  border-bottom:0.5px #E4E7EB solid;//gray

  form{
    width:20px;
    margin:0px;
    padding: 15px;
  }

  .tableRowName{
    float:left;

    p{
      float:left;
      width: auto;
    }

    .tableRowNameIcon {
      width: 22px;
      height:22px;
      color:white;
      background: #1070CA;//blue
      border-radius: 50%;
      text-align: center;
      vertical-align: inherit;
      padding: 5px;
      margin:10px;
    }
  }

  p{
    padding: 15px;
    margin:0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.05px;
    color: #3A3B3F;
    width:15%;
    &:nth-child(6){
      color:#9EA0A5;//lite grey
    }
  }
  &:last-child{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 5%;
    padding: 10px;
    align-content: center;
    height:36px;

    p{
      font-size: 24px;
      color:#9EA0A5;//lite grey
      width:7%;
      vertical-align: middle;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #000000;
      mix-blend-mode: normal;
      opacity: 0.54;
    }
    .arrowLeft>p, .arrowRight > p {
      font-size: 24px;
      color:black;
      width: 10px;
      &:hover{
        background: #ccddf4;//#F6F9FD;//white with blue
      }
    }

    select{
      height:40.2px;
      border: 0px grey solid;
    }
  }

}
